!!!
%html{class: page_classes}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'ie=edge', 'http-equiv' => 'x-ua-compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %title= current_page.data.title || 'Middleman project'
    = stylesheet_link_tag 'site'
    = javascript_include_tag 'site'
  %body
    = yield
  %footer
    = partial "_partial/footer"
