@import "variables/screens"

// h1,p,h2, h3, h4, h5, a
//   color: black
//   font-family: "Gilroy-Regular"

@media only screen and (min-width: 600px)
  .hero-body
    padding-top: 9rem !important
    padding-bottom: 9rem


.hero-body
  padding-bottom: 0rem !important

.hero-last
  padding-bottom: 9rem
.block-parent
  padding-left: 2em
  padding-right: 12em

.hero-title
  font-size: 3.2em
  font-weight: bold
  text-align: center

.hero-subtitle
  font-size: 1.5em
  font-weight: bold
  text-align: center

.hero-text
  font-size: 1.5em
  text-align: center

// navigation
.navbar-item
  font-weight: bold
  text-transform: uppercase
  &:hover
    color: $purple !important
  span
    text-transform: none

// color states
.is-gray
  background: #FCFCFC
  position: relative
  // .title, .subtitle
  //   color: #fff !important

.is-purple-bg
  background: $purple


//footer

footer
  margin-top: 2em

//image

.minimise-image
  img
    height: 400px
//position

.is-absolute
  position: absolute
  right: 1em
  top: 0

//buttons
.is-btn
  background: $purple !important
  font-weight: bold
  color: white !important
  border: none


// images
.image-centered
  text-align: center

//blocks
.block-parent
  width: 100%

.block
  height: 300px
  width: 100%
  background: #f3f3f3
.box
  width: 100%

.space-please
  margin-top: 30px

//images
.navbar-item
  img
    max-height: 3em
