

@media only screen and (max-width: 480px)
  .hero-title
    font-size: 2em
    font-weight: bold
    text-align: center

  .hero-subtitle
    font-size: 1.5em
    text-align: center
    font-weight: normal

@media only screen and (min-width: 480px)
