

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900');

@font-face {
font-family: 'yikes';
src: url(Yikes_medium.ttf);
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: 'Gilroy Medium';
src: url(Gilroy-Medium.otf);
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: 'Gilroy Regular';
src: url(Gilroy-Regular.otf);
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: 'Gilroy SemiBold';
src: url(Gilroy-SemiBold.otf);
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: 'Gilroy UltraLight';
src: url(Gilroy-Ultralight.otf);
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: 'Gilroy-UltraLightItalic';
src: url(Gilroy-UltralightItalic.otf);
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@mixin center($position, $horizontal: true, $vertical: true) {
position: $position;
@if ($horizontal and $vertical) {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} @else if ($horizontal) {
left: 50%;
transform: translate(-50%, 0);
} @else if ($vertical) {
top: 50%;
transform: translate(0, -50%);
}
@else {
bottom: 0%;
right: -50%;
transform: translate(-50%, -50%);
}
}

@mixin centerBottom($position, $horizontal: true, $vertical: true) {
position: $position;
@if ($horizontal and $vertical) {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} @else if ($horizontal) {
bottom: 0%;
right: -50%;
transform: translate(-50%, -50%);
} @else if ($vertical) {
top: 50%;
transform: translate(0, -50%);
}
}
