@import "fonts/fonts"


//primary shades
$purple: #7E5FFC
$dark-purple: #7A5AF1


//secondary shades
$green-medium: #72B096
$purple-medium: #C599D1
$yellow-medium: #FBD966
$blue-medium: #64CAFA


//fonts
.product-title
  font-size: 1em
  font-weight: bold

.is-purple
  color: $purple
  font-family: "Gilroy"

//tertiary shades
$khoyn-light: #F7F9FA
$green-light: #7E5FFC
$purple-light: #F8F2FA
$orange-light: #FFE8DE
$yellow-light: #FEEFBE
$blue-light: #d2effd
$pink-light: #FFCCCC

// neutral colors
$white: #fff
$gray: #EBECEE
$black: #000

//z-index

$z0: 0
$z1: 1
$z2: 2
$z3: 3
$z4: 4
$z5: 5
$z99: 9999

//fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap')

$font-1: 'Gilroy', sans-serif
$font-2: 'yikes', sans-serif
$font-3: 'Varela Round', sans-serif
$font-4: 'Poppins', 'Poppins-Medium',  sans-serif



//break-points
$mini-breakpoint-value: 320px
$first-breakpoint-value: 500px
$second-breakpoint-value: 860px
$third-breakpoint-value: 1100px

// Screen Resolutions
$xsmall-screen: new-breakpoint(max-width em($mini-breakpoint-value) 2)
$small-screen: new-breakpoint(max-width em($first-breakpoint-value) 2)
$medium-screen: new-breakpoint(min-width em($first-breakpoint-value) max-width em($second-breakpoint-value) 4)
$large-screen: new-breakpoint(min-width em($second-breakpoint-value + 1) max-width em($third-breakpoint-value) 8)
$xl-screen: new-breakpoint(min-width em($third-breakpoint-value))


//
// Add whatever variables you would like made available to the whole app
//

// position
$abs: absolute
$rel: relative
$fxd: fixed

// antialiasing mode font rendering
