---
title: Khoyn Social Selling
---


%section.hero.is-large
  .hero-head
    %nav.navbar
      .container
        .navbar-brand
          %a.navbar-item
            = image_tag "khoyn-modern.png"
          %span.navbar-burger.burger{"data-target" => "navbarMenuHeroB"}
            %span
            %span
            %span
        #navbarMenuHeroB.navbar-menu
          .navbar-end
            %a.navbar-item.is-active
              Home
            %a.navbar-item{:href => "https://khoyn.typeform.com/to/d8XPnc"}
              Suppliers
            %a.navbar-item{:href => "https://khoyn.typeform.com/to/T3xjpl"}
              Enterprise
            %span.navbar-item
              %a.button.is-large.is-btn{:href=> "https://bit.ly/join-khoyn"}
                %span.icon
                  %svg{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:fill => "#fff", :d => "M6 8l.001 9.444c0 .861.696 1.556 1.557 1.556h.442v3.542c0 .804.707 1.458 1.51 1.458.806 0 1.49-.654 1.49-1.459v-3.541h2v3.542c0 .804.707 1.458 1.511 1.458.806 0 1.489-.654 1.489-1.459v-3.541l.444-.001c.858 0 1.556-.696 1.556-1.557v-9.442h-12zm16 1.471c0-.805-.695-1.471-1.5-1.471-.805-.001-1.5.667-1.5 1.472v6.106c0 .806.694 1.422 1.5 1.422.805 0 1.5-.615 1.5-1.422v-6.107zm-17 0c0-.805-.695-1.471-1.5-1.471-.805-.001-1.5.667-1.5 1.472v6.106c0 .806.694 1.422 1.5 1.422.805 0 1.5-.615 1.5-1.422v-6.107zm9.951-7.312l.94-1.859c.068-.132-.019-.3-.163-.3-.066 0-.13.038-.164.105l-.949 1.878c-1.531-.737-3.544-.812-5.229 0l-.95-1.878c-.033-.067-.097-.105-.164-.105-.144 0-.231.168-.163.3l.94 1.859c-1.845 1.034-3.049 2.584-3.049 4.84h12c0-2.256-1.204-3.806-3.049-4.84zm-5.45 2.841c-.276 0-.501-.224-.501-.5 0-.274.225-.5.501-.5s.499.226.499.5c0 .276-.223.5-.499.5zm4.998 0c-.276 0-.499-.224-.499-.5 0-.274.223-.5.499-.5s.501.226.501.5c0 .276-.225.5-.501.5z"}
                %span Get Khoyn
  .hero-body
    .container
      .columns.is-centered
        .column.is-half
          %h1.hero-title
            Take your social selling to a
            .is-purple
              whole new level.
          .image-centered.space-please
            =image_tag "hero-mobiles.png"

    .container
      .columns.is-centered
        .column.is-half
          %p.hero-subtitle.space-please
            Earn up to ZAR8k per month reselling products from brands, wholesalers and more.
            Hold no stock & zero investment to start.
          .image-centered.space-please
            %a.button.is-large.is-btn{:href=> "https://bit.ly/earn-with-khoyn"}
              %span.icon
                %svg{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:fill => "#fff", :d => "M6 8l.001 9.444c0 .861.696 1.556 1.557 1.556h.442v3.542c0 .804.707 1.458 1.51 1.458.806 0 1.49-.654 1.49-1.459v-3.541h2v3.542c0 .804.707 1.458 1.511 1.458.806 0 1.489-.654 1.489-1.459v-3.541l.444-.001c.858 0 1.556-.696 1.556-1.557v-9.442h-12zm16 1.471c0-.805-.695-1.471-1.5-1.471-.805-.001-1.5.667-1.5 1.472v6.106c0 .806.694 1.422 1.5 1.422.805 0 1.5-.615 1.5-1.422v-6.107zm-17 0c0-.805-.695-1.471-1.5-1.471-.805-.001-1.5.667-1.5 1.472v6.106c0 .806.694 1.422 1.5 1.422.805 0 1.5-.615 1.5-1.422v-6.107zm9.951-7.312l.94-1.859c.068-.132-.019-.3-.163-.3-.066 0-.13.038-.164.105l-.949 1.878c-1.531-.737-3.544-.812-5.229 0l-.95-1.878c-.033-.067-.097-.105-.164-.105-.144 0-.231.168-.163.3l.94 1.859c-1.845 1.034-3.049 2.584-3.049 4.84h12c0-2.256-1.204-3.806-3.049-4.84zm-5.45 2.841c-.276 0-.501-.224-.501-.5 0-.274.225-.5.501-.5s.499.226.499.5c0 .276-.223.5-.499.5zm4.998 0c-.276 0-.499-.224-.499-.5 0-.274.223-.5.499-.5s.501.226.501.5c0 .276-.225.5-.501.5z"}
              %span Get Your Khoyn

%section.hero.is-large
  .hero-body
    .container
      .columns.is-centered
        .column.is-half
          %h1.hero-title
            Create Your Khoyn
          %p.hero-text
            Register your account in a few minutes. Your Khoyn comes with a personal website, products to resell and much more.
          .image-centered.space-please.minimise-image
            =image_tag "social-card.png"

%section.hero.is-large
  .hero-body
    .container.space-please
      .columns.is-centered
        .column.is-half
          %h1.hero-title
            Browse 1000s of products
          %p.hero-text
            We are partnering with top suppliers, brands and retailers to give you a strong variety of products to resell.

          .image-centered.space-please
            =image_tag "browse-products.png"

%section.hero.is-large
  .hero-body
    .container
      .columns.is-centered
        .column.is-half
          %h1.hero-title
            Sell directly on social
          %p.hero-text
            Advertise &amp; Sell to millions of customers on Facebook, Whatsapp, Instagram and more.

          .image-centered.space-please
            =image_tag "sell-on-social.png"



%section.hero.is-medium.is-gray
  .hero-body
    .container
      .columns
        .column.is-half.is-vertical
          .column
          .column
            %h1.title
              Join the Community

            %h2.subtitle
              Join thousands of social sellers across the continent starting and growing their businesses from their phone with zero investment.
          .column
          .column
          .column

          .column
            %h1.title
              Social Selling Toolkit

            %h2.subtitle
              Khoyn gives you all the tools you need to turn your network into paying customers. Start now with the most powerful social selling platform around.


        .column
          =image_tag "COMMUNITY.png"

%section.hero.is-large
  .hero-body
    .container
      .columns.is-centered
        .column.is-half
          .image-box
            %a.image{:href => "https://www.youtube.com/watch?v=LF6NaXICqqY", :target => "_blank"}
              =image_tag "video-connect.png"
      .columns.is-centered
        .column.is-half
          .image-centered
            %a.button.is-large.is-btn{:href=> "https://bit.ly/earn-with-khoyn"}
              %span.icon
                %svg{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:fill => "#fff", :d => "M6 8l.001 9.444c0 .861.696 1.556 1.557 1.556h.442v3.542c0 .804.707 1.458 1.51 1.458.806 0 1.49-.654 1.49-1.459v-3.541h2v3.542c0 .804.707 1.458 1.511 1.458.806 0 1.489-.654 1.489-1.459v-3.541l.444-.001c.858 0 1.556-.696 1.556-1.557v-9.442h-12zm16 1.471c0-.805-.695-1.471-1.5-1.471-.805-.001-1.5.667-1.5 1.472v6.106c0 .806.694 1.422 1.5 1.422.805 0 1.5-.615 1.5-1.422v-6.107zm-17 0c0-.805-.695-1.471-1.5-1.471-.805-.001-1.5.667-1.5 1.472v6.106c0 .806.694 1.422 1.5 1.422.805 0 1.5-.615 1.5-1.422v-6.107zm9.951-7.312l.94-1.859c.068-.132-.019-.3-.163-.3-.066 0-.13.038-.164.105l-.949 1.878c-1.531-.737-3.544-.812-5.229 0l-.95-1.878c-.033-.067-.097-.105-.164-.105-.144 0-.231.168-.163.3l.94 1.859c-1.845 1.034-3.049 2.584-3.049 4.84h12c0-2.256-1.204-3.806-3.049-4.84zm-5.45 2.841c-.276 0-.501-.224-.501-.5 0-.274.225-.5.501-.5s.499.226.499.5c0 .276-.223.5-.499.5zm4.998 0c-.276 0-.499-.224-.499-.5 0-.274.223-.5.499-.5s.501.226.501.5c0 .276-.225.5-.501.5z"}
              %span Get Your Khoyn
